<launch>

  <include file="$(find turtlebot_block_manipulation)/launch/block_manipulation_old_kinect.launch" />
  <!-- reset arm action servers too -->
  <include file="$(find openni_camera)launch/openni_node.launch" />
  
  <node name="turtlebot_rcommander" pkg="turtlebot_rcommander_apps" type="rcommander_turtlebot.py" output="screen" />
  
</launch>
