<launch>
  <include file="$(find openni_launch)/launch/openni.launch">
  	<arg name="depth_registration" value="true" />
  </include>

  <include file="$(find turtlebot_arm_block_manipulation)/launch/block_manipulation.launch" />

  <node name="block_manipulation_demo" pkg="turtlebot_arm_block_manipulation" type="block_manipulation_demo" output="screen" >
    <param name="arm_link" value="/arm_base_link" />
    <param name="gripper_open" value="0.05" />
    <param name="gripper_closed" value="0.022" />
    <param name="z_up" value="0.05" />
    <param name="table_height" value="-0.03" />
    <param name="block_size" value="0.025" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_arm_block_manipulation)/demo/block_manipulation_demo.rviz" />
</launch>
